<h2><%= @user.first_name.capitalize %>, here's a list of the places you enjoyed, or still want to check out:</h2>
<% unless @user.favorites.empty? %>
  <% @user.favorites.each do |favorite| %>
  <div class = "venue">
    <ul>
      <li><%= favorite.venue %></li>
      <li><%= favorite.address %></li>
      <li><%= favorite.phone %></li>
      <li><%= favorite.url %></li>
    </ul>
  </div>
  <% end %>
<% else %>
  <h4>You have not favorited any venues yet.</h4>
<% end %>
