<div class="profilebody">
  <nav>
    <a class = "nav" href="/<%= @user.id %>/favorites">View Favorites</a> ||
    <a class = "nav" href="/logout">Log out</a>
  </nav>

  <h2>Welcome, <%= @user.first_name.capitalize %>!</h2>

  <% info = parse(get_fs_data) %>

  <h4>You look like you could user beer. Here are <%=venues(info).count%> nearby places to find one:</h4>

  <ul class = "venue-list">
  <% venues(info).each do |suggested| %>
    <li class = "venue">
      <h4 class = "name"><%= suggested["venue"]["name"] %></h4>
      <p class = "phone">Phone: <%= suggested["venue"]["contact"]["formattedPhone"] %></p>
      <p class = "addy">Address: <%= suggested["venue"]["location"]["formattedAddress"].join(", ") %></p>
      <p class = "dist">Distance: <%= to_miles(suggested["venue"]["location"]["distance"]) %> miles</p>
      <p class = "rate">Rating: <%= suggested["venue"]["rating"]%></p>
      <p class = "desc">Description/Tips: <%= suggested["tips"][0]["text"] %></p>

      <p class = "stat">Status: <%= suggested["venue"]["hours"]["status"] if suggested["venue"]["hours"] %></p>

      <p class = "check">People currently checked in: <%= suggested["venue"]["hereNow"]["summary"] %> </p>
      <p class = "url">URL: <a href="<%=suggested["venue"]["url"]%>"><%= suggested["venue"]["url"] %></a></p>
      <p><a class = "favorite" href="#">Add to favorites</a></p>
      <p class="latitude"><%= suggested["venue"]["location"]["lat"] %></p>
      <p class="longitude"><%= suggested["venue"]["location"]["lng"] %></p>
      <p><a class = "map" href="#">Map</a> || <a class = "directions" href="#">Directions</a></p>
    </li>
  <% end %>
  </ul>

  <div id="map-canvas"></div>
  <!-- <div class="directions-list"></div> -->
  <div id="directions-panel"></div>
  <footer>
    <a href="/logout">Log out</a>
  </footer>
</div>



